.body {
    font-family: Raleway;
    margin: 0;
}

.container {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}



h1, h2, h3 {
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 8px;
}

h1 {
    font-size: 54px;
    color: #282627;
}

h2 {
    font-size: 42px;
    color: #282627;
}

h3 {
    font-size: 28px;
    color: #282627;
}

h4 {
    font-size: 20px;
    color: #282627;
    font-weight: 400;
    margin-bottom: 0;
}

p {
    margin: 20px 0;
    color: #282627;
    line-height: 24px;
    font-weight: bold;
}

img {
    margin: 20px 0;
    width: 100%;
}

#h3-color {
   color: rgb(66, 212, 188);

}

#cmd-pics {
    height: 435px;
    width: 650px;
}
#cmd-pic4 {
    height:210px;
    width: 300px;
}
i {
    font-size: 42px;
    letter-spacing: 14px;
}
/* nav */

nav {
    height: 60px;
    width: 100%;
    background-color: transparent;
    position: fixed;
}

    nav ul {
        padding: 0;
        margin: 0;
    }

    nav li {
        display: inline;
        float: left;
    }

    nav a {
        display: inline-block;
        width: 100px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        padding: 20px 0;
        color: #282627;
        transition: 1s;
    }

        nav a:hover {
            color: saddlebrown;
        }

        nav a#toggle-btn {
            display: none;
        }


/* landing-page content */

.section-hero {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
    .section-hero .container {
        margin-top: 34vh;
    }

    .section-hero h2 {
        color: #ff9393;
    }

#content-style{
    background-color: #ebe7e7;

}
#link-style{
    color: rgb(66, 212, 188);
}
#node-style{
    height:500px;
    width:700px;
}
/* steps padding */
#step-three {
    padding: 8rem 0;
}
#step-two {
    padding: 8rem 0;
    background-color: #ebe7e7;

}
#step-four {
    padding: 8rem 0;
    background-color: #ebe7e7;

}
#ember1-pic {
    height: 550px;
    width: 220px;
}
#ember2-pic {
    height: 400px;
    width: 220px;
}
#ember3-pic {
    height: 70px;
    width: 240px;
}
#step4-1 {
    height:75px;
    width:500px;
}
#step4-1 {
    height:75px;
    width:540px;
}
#step4-2 {
    height:125px;
    width:540px;
}
#step4-4 {
    height:155px;
    width:540px;
}
#step-one {
    

    padding: 8rem 0;
}

.information-content {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}



/* footer */

footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 1em 0;
   

}

    footer span {
        color: #8D8273;
        font-weight: 600;
        word-spacing: 28px;
        text-transform: uppercase;
    }
